<!DOCTYPE html>
<html lang="{{ site.lang | default: "es_ES" }}">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="icon" type="image/x-icon" href="{{ '/assets/images/favicon.ico' | relative_url }}">
    {% include head-custom.html %}

{% seo %}
  </head>

  <body>
    <header>
      <div class="container">
        <a id="a-title" href="{{ '/' | relative_url }}">
          <h1>{{ site.title | default: site.github.repository_name }}</h1>
        </a>

        <h2>{{ site.description | default: site.github.project_tagline }}</h2>
        <section id="downloads">
          <a href="{{ '/' | relative_url }}" class="btn">Inicio</a>
          <a href="{{ '/rde' | relative_url }}" class="btn">RDE</a>
          <a href="{{ '/src' | relative_url }}" class="btn">SRC</a>
          <a href="{{ '/lnd' | relative_url }}" class="btn">LND</a>
          {% if site.show_downloads %}
            <a href="{{ site.github.zip_url }}" class="btn">Download as .zip</a>
            <a href="{{ site.github.tar_url }}" class="btn">Download as .tar.gz</a>
          {% endif %}
          <a href="{{ site.github.repository_url }}" class="btn btn-github"><span class="icon"></span>View on GitHub</a>
        </section>
      </div>
    </header>
    <div class="container">
      <section id="main_content">
        {{ content }}
      </section>
    </div>
    <hr>    
    <footer>

        <div class="container">
            <p xmlns:cc="http://creativecommons.org/ns#" >Este trabajo está bajo dominio público. Puedes copiarlo, modificarlo y distribuirlo sin restricciones.<a href="https://creativecommons.org/publicdomain/zero/1.0/?ref=chooser-v1" target="_blank" rel="license noopener noreferrer" style="display:inline-block;">CC0 1.0<img style="height:22px!important;margin-left:3px;vertical-align:text-bottom;" src="https://mirrors.creativecommons.org/presskit/icons/cc.svg?ref=chooser-v1" alt=""><img style="height:22px!important;margin-left:3px;vertical-align:text-bottom;" src="https://mirrors.creativecommons.org/presskit/icons/zero.svg?ref=chooser-v1" alt=""></a></p>   
        </div>   
    </footer>
  </body>
</html>